:root {
  --colorBackgroundPrimary: #2f303a;
  --colorTextPrimary: #212121;
  --colorTextSecondary: #757575;
  --colorTextTertiary: #ffffff;
  --colorBackgroundSecondary: #f5f4fa;
  --colorTextAdditional: #eeeeee;
  --colorHover: #2196f3;
  --colorLine: #ececec;
}
