.list {
  background-color: var(--colorBackgroundPrimary);
}
/* studio/ */

@keyframes disappearReappear {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.btn {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 32px;
  font-size: 16px;
  font-weight: 700;
  background-color: var(--colorHover);
  color: #ffffff;
  border: none;
  transition-duration: 250ms;
  --transition-timing: cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover {
  color: var(--colorTextPrimary);
  transition-duration: 250ms;
  --transition-timing: cubic-bezier(0.4, 0, 0.2, 1);
}

.bth-close {
  position: absolute;
  top: 10px;
  right: 10px;
}
.hero__title {
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--colorTextPrimary);
  padding-top: 40px;
}
.btn-text-name {
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.01em;
  color: var(--colorTextSecondary);
  padding-top: 12px;
  padding-bottom: 4px;
  padding-left: 40px;
}
.contact-form__label {
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.01em;
  color: var(--colorTextSecondary);
  padding-bottom: 4px;
  padding-left: 40px;
}
.btn-text-two {
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
  color: var(--colorTextSecondary);
  padding-top: 20px;
  padding-left: 77px;
  margin: 0;
  font-size: 14px;
  color: #333;
}

.image-dagger {
  width: 11px;
  height: 11px;
  margin-top: 17px;
  margin-left: 500px;
}
.modal__icon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: fill;
}

.contact-form__input,
.contact-form__comment {
  width: 100%;
  padding: 10px 10px 10px 40px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.btn-images:hover,
.contact-form__input:hover,
.contact-form__comment:hover {
  outline: none;
  border-color: #2196f3;
}
.btn-images {
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: border-color;
}
.contact-form__input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 448px;
  height: 40px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: border-color;
}
.contact-form__comment {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 448px;
  height: 120px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: border-color;
}

.sell-and-texts {
  display: flex;
  align-items: center;
  padding-left: 77px;
  padding-top: 20px;
}
.sell-two {
  color: #2196f3;
  text-decoration: underline;
}
.no-scroll {
  overflow: hidden;
}

.btn-button {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

/* portfolio */
.portfolio {
}

.portfolio__all {
  padding-top: 94px;
  padding-bottom: 50px;
  display: flex;
  justify-content: center;
  column-gap: 8px;
  margin: 0 auto;
}
.portfolio__filter {
  border-radius: 4px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.08),
    0 3px 1px 0 rgba(0, 0, 0, 0.1);

  padding: 10px 32px;
  font-weight: 500;
  line-height: 1.62;
  font-size: 16px;
  color: var(--colorTextPrimary);
  border: none;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: background-color;
}
.portfolio__filter:hover {
  background-color: #2196f3;
  color: #ffffff;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.08),
    0 3px 1px 0 rgba(0, 0, 0, 0.1);
}
.portfolio__info {
  display: flex;
  flex-wrap: wrap;
  row-gap: 30px;
  padding-bottom: 94px;
  column-gap: 30px;
}
.portfolio-info-card {
  width: calc(33.33% - 30px);
  column-gap: 30px;
  background: var(--colorTextTertiary);
  border: 1px solid var(--colorTextAdditional);
  position: relative;
  overflow: hidden;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: bottom;
}

.image-container {
  position: relative;
  overflow: hidden;
}

.portfolio-picture {
  flex-basis: calc((100% - 30px) / 3);
  max-width: 100%;
}

.portfolio-overlay {
  position: absolute;
  bottom: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 149, 243, 0.9);

  transition-property: bottom;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: bottom;
}

.portfolio-overlay-text {
  padding: 63px 24px;
  color: #fff;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
}

.portfolio-info-card:hover .portfolio-overlay,
.portfolio-info-card:focus-within .portfolio-overlay {
  bottom: 0;
}

.portfolio-info-card:hover {
  box-shadow: 1px 4px 6px 0 rgba(0, 0, 0, 0.16), 0 4px 4px 0 rgba(0, 0, 0, 0.06),
    0 1px 1px 0 rgba(0, 0, 0, 0.12);
}

.portfolio-title {
  font-weight: 700;
  line-height: 2;
  font-size: 18px;
  color: var(--colorTextPrimary);
  padding-top: 20px;
}

.portfolio-text {
  font-weight: 400;
  line-height: 1.87;
  font-size: 16px;
  color: var(--colorTextSecondary);
}
.contact-item {
  line-height: 1.71;
  font-size: 14px;
  padding-bottom: 9px;
}
.contact-adress {
  font-size: 14px;
}
.contact-link {
  color: var(--colorTextSecondary);
}

img {
  width: 100%;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

/* work 2 */

.image-container {
  position: relative;
  flex-basis: calc((100% - 60px) / 3);
}
